<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="adressLocalAutn" value="http://localhost:7207/api/authorization/"/>
    <add key="adressLocalGame" value="http://localhost:7207/api/game/"/>
    <add key="adressLocalStartGame" value="http://localhost:7207/api/startgame/"/>
    <add key="adressLocalRegistration" value="http://localhost:7207/api/registration/"/>
  </appSettings>
</configuration>
